@media (max-width: 767px) {
     /* CSS-Regeln für kleine Bildschirme (Handys)
     padding zur seite 16px
     alle artikel colum */


/*=================================================================================*/
/*=====================================Stefan========================================*/
/*=================================================================================*/



/*=================================================================================*/
/*=====================================jojo========================================*/
/*=================================================================================*/
  .daily-recept-main {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    gap: 20px;
    margin-top: 36px;
    overflow: hidden;
    margin-bottom: 36px;
}
.daily-text {
    align-items: center;
    text-align: center;
}



 /*=================================================================================*/
/*=====================================Jürgen========================================*/
/*=================================================================================*/

/*=================================================================================*/
/*=====================================FLO========================================*/
/*=================================================================================*/





 }