header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    border-bottom: 4px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 68px;
}

nav {
    display: flex;
    gap: 24px;
    align-items: end;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #403b3b;
}

nav a:hover {
    color: #008000;
    text-decoration: underline;
}



.rezept {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.anforderungen {
    margin-top: 20px;
    margin-bottom: 48px;
    display: flex;
    gap: 20px;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    background-color: #f0f0f0;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 14px;
    color: #333;
}

.badge .icon {
    width: 14px;
    height: 14px;
}

.zutaten {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
}

.zutaten p {
    padding-right: 40px;
}

.zutaten input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #ccc;
    height: 32px;
}

.zutaten button {
    background-color: #008000;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
}

.eingabe {
    display: flex;
}

.zutatenliste {
    list-style: none;
    padding: 0;
    margin: 0;

}

.zutatenliste li {
    padding: 12px 28px;
    border-radius: 6px;
}

.zutatenliste li:nth-child(odd) {
    background-color: #f0f0f0;
}

.zutatenliste li:nth-child(even) {
    background-color: #ffffff;
}

h2 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

.autor {
    display: flex;
    align-items: center;
    gap: 40px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}