.header-widescreen {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;

}

header {
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-fit {
    display: flex;
}

.logo img {
    height: 68px;
}

nav {
    display: flex;
    gap: 24px;
    align-items: end;
}

nav a {
    font-family: 'Raleway';
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #403b3b;
    padding-bottom: 8px;
}

nav a:hover {
    color: #008000;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
}

.burger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

@media(max-width: 1024px) {
    header {
        padding-left: 64px;
        padding-right: 64px;
    }


    nav {
        display: none;
        flex-direction: column;
        gap: 16px;
        background: #f8f8f8;
        position: absolute;
        top: 100px;
        right: 0;
        width: 200px;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: flex;
    }

    .burger {
        display: block;
    }
}




.send-container {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 500px;
    width: 400px;
    border-radius: 8px;
    margin-top: 200px;
    text-align: center;
    padding: 16px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position: center;
  height: 100%; 
}
.container-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.header-cantact {
    background-color: white;
    width: 100%;
   
}
    
    
    footer {
    height: 250px;
    background-color: #435337;
    display: flex;
    justify-content: center;
    position: sticky;
    margin-bottom: 0px;
    margin-top: auto;

    width: 100%;

}

.body-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   


@media (max-width: 767px) {

    .send-container {


        height: 500px;
        width: 300px;
        border-radius: 8px;
        margin-top: 200px;
        text-align: center;
        padding: 16px;
    }

}