@media (max-width: 1024px) {

  /*padding 64px zur seite*/

  /*=================================================================================*/
  /*=====================================Stefan========================================*/
  /*=================================================================================*/


  header {

    padding-left: 64px;
    padding-right: 64px;

  }

  .recipe {
    padding-left: 64px;
    padding-right: 64px;
  }

  .input {
    display: flex;
    flex-direction: column;
  }

  .ingredients input {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 24px;
  }


  /*=================================================================================*/
  /*=====================================jojo========================================*/
  /*=================================================================================*/

  .daily-recept-main {
    padding-left: 64px;
    padding-right: 64px;
    /* CSS-Regeln für Tablets */
  }




  /*=================================================================================*/
  /*=====================================Jürgen========================================*/
  /*=================================================================================*/
  .recipes {
    padding-left: 64px;
    padding-right: 64px;
    margin-left: 0;
    margin-right: 0;
  }

  /* @media (max-width: 920px) {
    .recipes {
      gap: 10px;
    }
  } */

  /*=================================================================================*/
  /*=====================================FLO========================================*/
  /*=================================================================================*/




}