html {
  background-image: url("./img/Suppe_Vegan.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position: center;
  height: 100%; 
}

.body-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:  #f0f0f0;
    height: 500px;
    width: 400px;
    border-radius: 8px;
    margin-top: 200px;
    
}
.h2-contact {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.textarea {
    height: 150px;
    width: 350px;

   
}
.input {
     display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    transition: 0.3s all ;
    
}

input:hover {
    opacity: 0.6;
}

@media (max-width: 767px)

{.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:  #f0f0f0;
    height: 500px;
    width: 320px;
    border-radius: 8px;
    margin-top: 64px;
    }

    .textarea {
    height: 150px;
    width: 300px;

   
}
}