
.container-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  align-items: center;
  width: 100%;
}

.header-cantact {
    background-color: white;
    width: 100%;
}
body {
 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position: center;
  height: 100%; 
}

.body-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:  #f0f0f0;
    height: 500px;
    width: 400px;
    border-radius: 8px;
    margin-top: 200px;
    margin-bottom: 150px;
   
   
    
}
.h2-contact {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.textarea {
    height: 150px;
    width: 350px;

   
}
.input {
     display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    transition: 0.3s all ;
    
}

input:hover {
    opacity: 0.6;
}

footer {
    height: 250px;
    background-color: #435337;
    display: flex;
    justify-content: center;
    position: sticky;
  margin-bottom: 0px;
  margin-top: auto;
   
width: 100%;

}

.footerwrap {
    padding-top: 60px;
}

.footerlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway';
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}
.footer-end {
    display: flex;
    justify-content: flex-end;
}
footer a:link {
    color: #000000;
}

footer a:visited {
    color: #000000;
}

footer a:hover {
    color: #008000;
    text-decoration: none;
}
@media (max-width: 767px)

{.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:  #f0f0f0;
    height: 500px;
    width: 320px;
    border-radius: 8px;
    margin-top: 64px;
    }

    .textarea {
    height: 150px;
    width: 300px;

   
}
}