@media (max-width: 1024px) {

  /*padding 64px zur seite*/

  /*=================================================================================*/
  /*=====================================Stefan========================================*/
  /*=================================================================================*/


header {
  
    padding-left: 64px;
    padding-right: 64px;

}





  /*=================================================================================*/
  /*=====================================jojo========================================*/
  /*=================================================================================*/

  .daily-recept-main {
    padding-left: 64px;
    padding-right: 64px;
    /* CSS-Regeln für Tablets */
  }
 .daily-recept-main {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    padding-right: 64px;
    gap: 20px;
    margin-top: 36px;
    overflow: hidden;
    margin-bottom: 36px;
  }

  .daily-text {
    align-items: center;
    text-align: center;
  }




  /*=================================================================================*/
  /*=====================================Jürgen========================================*/
  /*=================================================================================*/
  .recipes {
    padding-left: 64px;
    padding-right: 64px;
    margin-left: 0;
    margin-right: 0;
  }


  /*=================================================================================*/
  /*=====================================FLO========================================*/
  /*=================================================================================*/




}