header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    padding-left: 150px;
    padding-right: 150px;
    border-bottom: 4px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 68px;
}

nav {
    display: flex;
    gap: 24px;
    align-items: end;
}

nav a {
    font-family: 'Raleway';
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #403b3b;
    padding-bottom: 8px;
}

nav a:hover {
    color: #008000;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
}

.burger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

@media(max-width: 990px) {
    header {
        padding-left: 150px;
        padding-right: 150px;
    }


    nav {
        display: none;
        flex-direction: column;
        gap: 16px;
        background: #f8f8f8;
        position: absolute;
        top: 100px;
        right: 0;
        width: 200px;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

nav.active {
    display: flex;
}

.burger {
    display: block;
}
}

.recipe {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.requirements {
    margin-top: 20px;
    margin-bottom: 48px;
    display: flex;
    gap: 20px;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    background-color: #f0f0f0;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 14px;
    color: #333;
}

.badge .icon {
    width: 14px;
    height: 14px;
}

.ingredients {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ingredients p {
    padding-right: 40px;
}

.ingredients input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #ccc;
    height: 32px;
}

.ingredients button {
    background-color: #008000;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
}

.input {
    display: flex;
}

.ingredient_list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.ingredient_list li {
    padding: 12px 28px;
    border-radius: 6px;
}

.ingredient_list li:nth-child(odd) {
    background-color: #f0f0f0;
}

.ingredient_list li:nth-child(even) {
    background-color: #ffffff;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Raleway';
}

p {
    margin-top: 0;
    font-family: 'Raleway';
    margin-bottom: 40px;
}

.author {
    display: flex;
    align-items: center;
    gap: 40px;
}

.author p {
    margin-bottom: 0;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}